body{
    color: white;
}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(26, 176, 126);
    
}
header h1{
    display: absolute;
    text-align: left;
    padding: 0 0 10px;
    font-size: 25pt;
    padding: 1em;
}
section{
    height: 100px;
    display: block;
    padding: 5px;
    background: rgb(26, 176, 126);
}
div{
    height: 300px;
    background: linear-gradient(rgb(26, 176, 126),rgb(3, 79, 54));
}
footer{
    text-align: center;
    width: 100%;
    height: 70px;
    padding: 10px;
    color: white;
    background-color: rgb(3, 79, 54);
}

