div{
    text-align: center;
    font-size: 1000%;
    padding: 3em 0;
    position: relative;
}
div{

    background: linear-gradient(45deg, #000073, #0000FF);
}
h1{
    color: #CCCCCC;
    text-shadow: 10px 5px 5px #000000;
}
h1{
    transition: linear 2s ;
    color: #ffffff;
    
}
h1 strong:hover{
    color: red;
    transition: 2s;
}

